/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat Alternates;
    background-color: #F9F9F9;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.center {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
}

.header {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 9;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: rgb(69, 64, 61);
        font-family: Montserrat Alternates;
        font-size: 32px;
        font-weight: 800;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }
    &__menu {
        display: flex;
        gap: 48px;
    }
    &__link {
        color: rgb(69, 64, 61);
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        transition: color 0.3s;
    }
    &__link:hover {
        color: rgb(162, 101, 57);
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(162, 101, 57);
        transition: all 0.3s;
        box-sizing: border-box;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 24px;
        color: rgb(162, 101, 57);
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        width: 169px;
        height: 52px;
    }
    &__button:hover {
        background-color: rgb(162, 101, 57);
        color: #fff;
    }
}

.top {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #F6F5F4;
    background-image: url(../img/table.png);
    background-position: 100% 0px;
    background-repeat: no-repeat;
    height: 770px;
    &__container {
        max-width: 586px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        z-index: 1;
    }
    &__title {
        color: rgb(69, 64, 61);
        font-family: Montserrat Alternates;
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 118px;
    }
    &__subtitle {
        color: rgb(69, 64, 61);
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: left;
    }
    &__description {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 366px;
        height: 52px;
        font-weight: 600;
        font-size: 16px;
        color: #a26539;
        border: 1px solid rgb(162, 101, 57);
        border-radius: 20px;
        color: rgb(162, 101, 57);
        transition: all 0.3s;
    }
    &__button:hover {
        background-color: rgb(162, 101, 57);
        color: #fff;
    }
    &__image {
        transition: 0.3s ease-in-out;
        position: absolute;
    }
    &__image:hover {
        transform: rotate(10deg);
    }
    &__image1 {
        right: 375px;
        top: 75px;
    }
    &__image2 {
        position: absolute;
        right: 85px;
        top: 41px;
    }
    &__image3 {
        right: 425px;
        top: 435px;
    }
    &__image4 {
        right: 29px;
        top: 300px;
    }
}
.fixed { 
    position: fixed; 
    top: 60px;
    z-index: 100;
}
.menu {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #F6F5F4;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title {
        font-weight: 700;
        font-size: 48px;
        color: #45403d;
    }
    &__filter {
        display: flex;
        gap: 7px;
        transition: top 0.3s;
    }
    &__content {
        margin-top: 48px;
        height: auto;
    }
    &__coffee {
        display: none;
    }
    &__dessert {
        display: none;
    }
    &__appertizes {
        display: none;
    }
    &__coffee_show {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    &__dessert_show {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    &__appertizes_show {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 45px;
    font-weight: 600;
    font-size: 14px;
    font-family: inherit;
    border: 1px solid rgb(162, 101, 57);
    border-radius: 20px;
    color: rgb(162, 101, 57);
    transition: all 0.3s;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(162, 101, 57);
    color: #fff;
}

.active {
    background-color: rgb(162, 101, 57);
    color: #fff;
    transition: all 0.3s;
}

.product {
    border-radius: 24px;
    width: 276px;
    height: 410px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    background: #fff;
    transition: 0.2s;
    &:hover {
        scale: 1.07;
    }
    &__info {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    &__img {
        border-radius: 24px 24px 0 0;
    }
    &__price {
        font-weight: 600;
        font-size: 24px;
        color: #45403d
    }
    &__title {
        font-weight: 400;
        font-size: 14px;
        color: #45403d;
    }
    &__volume {
        font-weight: 400;
        font-size: 14px;
        color: #9a9a9a;
    }
}

@media (max-width: 1270px) {
    .center {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 446px);
        padding-right: calc(50% - 446px);
    }
    .header {
        &__menu {
            gap: 32px;
        }
    }
    .top {
        background-size: 55%;
        background-position: 100% 100px;
        &__container {
            max-width: 530px;
        }
        &__description {
            max-width: 450px;
        }
        &__image {
            scale: 0.7;
        }
        &__image1 {
            right: 150px;
            top: 110px;
        }
        &__image2 {
            scale: 0.7;
            right: 0;
            top: 110px;
        }
        &__image3 {
            top: 370px;
            right: 180px;
        }
        &__image4 {
            right: -70px;
            top: 280px;
        }
    }
}

@import "tablet";
@import "mobile";