@charset "UTF-8";
/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat Alternates;
  background-color: #F9F9F9;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.center {
  padding-left: calc(50% - 620px);
  padding-right: calc(50% - 620px);
}

.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 9;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: rgb(69, 64, 61);
  font-family: Montserrat Alternates;
  font-size: 32px;
  font-weight: 800;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.header__menu {
  display: flex;
  gap: 48px;
}
.header__link {
  color: rgb(69, 64, 61);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  transition: color 0.3s;
}
.header__link:hover {
  color: rgb(162, 101, 57);
}
.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(162, 101, 57);
  transition: all 0.3s;
  box-sizing: border-box;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 24px;
  color: rgb(162, 101, 57);
  font-family: Montserrat Alternates;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  width: 169px;
  height: 52px;
}
.header__button:hover {
  background-color: rgb(162, 101, 57);
  color: #fff;
}

.top {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #F6F5F4;
  background-image: url(../img/table.png);
  background-position: 100% 0px;
  background-repeat: no-repeat;
  height: 770px;
}
.top__container {
  max-width: 586px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}
.top__title {
  color: rgb(69, 64, 61);
  font-family: Montserrat Alternates;
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 118px;
}
.top__subtitle {
  color: rgb(69, 64, 61);
  font-family: Montserrat Alternates;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: left;
}
.top__description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.top__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 366px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  color: #a26539;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 20px;
  color: rgb(162, 101, 57);
  transition: all 0.3s;
}
.top__button:hover {
  background-color: rgb(162, 101, 57);
  color: #fff;
}
.top__image {
  transition: 0.3s ease-in-out;
  position: absolute;
}
.top__image:hover {
  transform: rotate(10deg);
}
.top__image1 {
  right: 375px;
  top: 75px;
}
.top__image2 {
  position: absolute;
  right: 85px;
  top: 41px;
}
.top__image3 {
  right: 425px;
  top: 435px;
}
.top__image4 {
  right: 29px;
  top: 300px;
}

.fixed {
  position: fixed;
  top: 60px;
  z-index: 100;
}

.menu {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #F6F5F4;
}
.menu__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__title {
  font-weight: 700;
  font-size: 48px;
  color: #45403d;
}
.menu__filter {
  display: flex;
  gap: 7px;
  transition: top 0.3s;
}
.menu__content {
  margin-top: 48px;
  height: auto;
}
.menu__coffee {
  display: none;
}
.menu__dessert {
  display: none;
}
.menu__appertizes {
  display: none;
}
.menu__coffee_show {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.menu__dessert_show {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.menu__appertizes_show {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid rgb(162, 101, 57);
  border-radius: 20px;
  color: rgb(162, 101, 57);
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(162, 101, 57);
  color: #fff;
}

.active {
  background-color: rgb(162, 101, 57);
  color: #fff;
  transition: all 0.3s;
}

.product {
  border-radius: 24px;
  width: 276px;
  height: 410px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
  transition: 0.2s;
}
.product:hover {
  scale: 1.07;
}
.product__info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.product__img {
  border-radius: 24px 24px 0 0;
}
.product__price {
  font-weight: 600;
  font-size: 24px;
  color: #45403d;
}
.product__title {
  font-weight: 400;
  font-size: 14px;
  color: #45403d;
}
.product__volume {
  font-weight: 400;
  font-size: 14px;
  color: #9a9a9a;
}

@media (max-width: 1270px) {
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 446px);
    padding-right: calc(50% - 446px);
  }
  .header__menu {
    gap: 32px;
  }
  .top {
    background-size: 55%;
    background-position: 100% 100px;
  }
  .top__container {
    max-width: 530px;
  }
  .top__description {
    max-width: 450px;
  }
  .top__image {
    scale: 0.7;
  }
  .top__image1 {
    right: 150px;
    top: 110px;
  }
  .top__image2 {
    scale: 0.7;
    right: 0;
    top: 110px;
  }
  .top__image3 {
    top: 370px;
    right: 180px;
  }
  .top__image4 {
    right: -70px;
    top: 280px;
  }
}
@media (min-width: 834px) and (max-width: 934px) {
  .center {
    padding-left: 48px;
    padding-right: 48px;
  }
  .header__menu {
    gap: 24px;
  }
  .top__description {
    max-width: 370px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .header__logo {
    font-size: 24px;
  }
  .header__button {
    width: 148px;
  }
  .header__nav {
    gap: 16px;
  }
  .header__menu {
    gap: 16px;
  }
  .top {
    background-position: 100% 150px;
  }
  .top__container {
    max-width: 530px;
  }
  .top__description {
    max-width: 350px;
  }
  .top__button {
    width: 306px;
  }
  .top__image {
    scale: 0.5;
  }
  .top__image1 {
    right: 100px;
    top: 110px;
  }
  .top__image2 {
    scale: 0.5;
    right: -40px;
    top: 110px;
  }
  .top__image3 {
    top: 330px;
    right: 110px;
  }
  .top__image4 {
    right: -85px;
    top: 260px;
  }
  .menu__coffee_show {
    gap: 24px;
  }
  .product {
    width: 218px;
    height: auto;
  }
  .product__img {
    width: inherit;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__logo {
    content: url(../img/grain_logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .header__link {
    font-size: 14px;
  }
  .header__button {
    content: url(../img/Call.svg);
    width: 30px;
    height: 30px;
    border: none;
  }
  .header__nav {
    gap: 8px;
  }
  .header__menu {
    gap: 8px;
  }
  .top {
    height: auto;
    background-image: none;
  }
  .top__container {
    align-items: center;
  }
  .top__title {
    padding-top: 50px;
    font-size: 40px;
    text-align: center;
  }
  .top__subtitle {
    font-size: 24px;
    text-align: center;
  }
  .top__description {
    font-size: 16px;
    text-align: center;
  }
  .top__images {
    display: none;
  }
  .top__button {
    width: 320px;
  }
  .menu__container {
    gap: 16px;
  }
  .menu__container {
    justify-content: center;
  }
  .menu__filter {
    flex-wrap: wrap;
  }
  .menu__coffee_show {
    justify-content: center;
  }
  .menu__dessert_show {
    justify-content: center;
  }
  .menu__appertizes_show {
    justify-content: center;
  }
}
@media (max-width: 374px) {
  .center {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header__link {
    font-size: 12px;
  }
  .header__nav {
    gap: 4px;
  }
  .header__menu {
    gap: 4px;
  }
  .top__container {
    max-width: 300px;
  }
  .top__title {
    padding-top: 70px;
    font-size: 32px;
  }
  .top__subtitle {
    font-size: 24px;
  }
  .top__description {
    font-size: 16px;
  }
  .top__button {
    width: 300px;
  }
  .menu__container {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */